:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background-color: #242424;
  font-size: 1.2em;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

button {
  border-radius: 10px;
  border: 0px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: inherit;
  background-color: #f7b409;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #f7d309;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  box-shadow: 0 0 4px #ffffff;
}

div {
  margin: 30px 0px;
}